<div class="bg-white">
	<div header data-type="login"></div>
	<div layout="row" layout-wrap layout-align="center start" layout-xs="column" style="margin-top: 30px;">
		<div flex="30" flex-sm="30" flex-xs="30" layout="column"></div>
		<div flex="40" class="two" layout="column">
			<div layout="column" ng-cloak>
				<md-content>
					<form name="loginForm" ng-submit="login()">
						<md-input-container class="md-block">
							<label>用户名/手机号/邮箱</label>
							<input required name="tmpname" ng-model="user.tmpname" ng-pattern="/^(1[0-9]{10})|([a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+)|(^(?![0-9])(?!.*?_$)[a-zA-Z0-9]{4,20})$/">
							<div ng-messages="loginForm.tmpname.$error">
								<div ng-message="required">必填项.</div>
								<div ng-message="pattern" style="opacity: 1; margin-top: 0px;">用户名由字母数字下划线组成，4-20位，不能以数字开头和以下划线结尾。手机号为11位中国地区号码。邮箱需要符合地址要求。</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>密码（8-16位数字与字母组合）</label>
							<input  md-maxlength="16" ng-minlength="8" required name="password" type="password" ng-model="user.password">
							<div ng-messages="loginForm.password.$error">
								<div ng-message="md-maxlength">不得超过16个字符.</div>
								<div ng-message="minlength" >不得少于8个字符.</div>
								<div ng-message="required">必填项.</div>
							</div>
						</md-input-container>
						<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
							<span class="login-error-section">{{loginMsg}}</span>
							<md-button ng-href="{{googleUrl}}" target="_blank">找回密码</md-button>
							<md-button class="md-primary md-raised md-hue-1" type="submit" ng-disabled="loginForm.$invalid || ajaxRequesting">登录</md-button>
						</section>
					</form>
				</md-content>
			</div>
		</div>
		<div flex class="three"></div>

	</div>
</div>





